// 圣诞节特别样式
#profile 
    .inner 
        position: relative
        .base-info::before
                content: url("/images/圣诞帽.png")
                position: absolute
                top: -40px
                left: 47px
    
.christmas-canvas
    top: 0px
    left: 0px
    position: fixed
    pointer-events: none

.christmas-MusicCtrl
    width: 25px
    height: 118px
    text-align: center
    position: fixed
    color: #fff
    background: #444
    cursor: pointer
    top: 30%
    right: 0
    border-radius: 4px
    border: 1px solid #000
    display: none
    
    