#recent-post
    li
        .item-inner
            .item-category a
                text-shadow: 1px 1px 1px #000
                &:hover
                    color: $-main-word-color
            .item-title a,
            .item-date
                color: $-main-word-color
                text-shadow: 0px 1px 5px #000
                &,
                & time
                    selection_clean()
        &:hover .item-title a
            link-blue-trans()

.widget ul li a,
.widget ol li a,
.widget ul .category-list-child a,
.widget ol .category-list-child a
    color: $-main-word-color
    text-shadow: 0px 1px 5px #000
    selection_clean()
    &:hover
        link-blue-trans()

.category-list-count,
.tag-list-count,
.archive-list-count
    @extends #recent-post li .item-inner .item-date
    
.widget ul:not(#recent-post) li a
    &:hover:before
        color: $-main-word-light-color

