.timeline-wrap
    .timeline-row .content 
        background-color: shadow-mask(0.7)
        .timeline-article-title
            color: $-link-word-color
        h1[itemprop="name"]:hover .timeline-article-title
                color: $-main-word-light-color
        .article-meta a
            @extends .article-header .article-meta a
    .timeline-row-major .title a
        &,
        &:visited
            color: $-main-word-color
            transition(all 0.2s)
        &:hover
            color: $-link-word-color
    