html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td
    color: $-main-word-color

body
    zoom: 1
    background-size: cover
    background-attachment: fixed
    color: $-main-word-color
    &::after
        content: ""
        display: block
        position: fixed
        top: 0
        left: 0
        margin: 0
        padding: 0
        height: 100%
        width: 100%
        background: shadow-mask()
        z-index: -100

::-webkit-scrollbar
    width: 13px
    height: 13px
::-webkit-scrollbar-track-piece
    background-color: #222
::-webkit-scrollbar-thumb
    background: #666
    
@media screen and (max-width: 559px)
    ::-webkit-scrollbar
        width: 10px
        height: 10px
        
.fa 
    color: $-main-word-light-gray-color
    &:hover
        color: $-main-word-light-color        

#page-nav
    .extend,
    .page-number
        color: $-main-word-light-color
    .current
        text-shadow: 1px 2px 5px #000
    