.ins-search-mask
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px); 

.ins-search-container
    .ins-close
        .fa-times-circle
            color: #777
        &:hover .fa-times-circle
            color: #555
            font-weight: bold
    .ins-section
        header
            color: #777
            font-weight: bold
        .ins-search-item
            &:hover,
            &.active
                header
                    color: #fff
            
