#header
    background: none
    box-shadow: none
    a,
    a:visited,
    .search-form-submit,
    .search-form-input,
    .search-form-input::-webkit-input-placeholder
        color: $-main-word-color
    a:hover
        link-blue-trans()
    #search-form-wrap .search-form .search-form-submit:hover
        color: $-main-word-light-color

        