#profile 
    &.card
            background-color: shadow-mask(0.7)
            box-shadow: 0 0 0 8px light-mask()
    .inner 
        background: none
        box-shadow: none
        .base-info
            & #location
                color: $-main-word-light-color
            & #avatar
                box-shadow: 0 0 0 8px light-mask()
                border-radius: 500px
                transition: box-shadow linear 0.3s
                &:hover
                    box-shadow: 0 0 0 5px light-mask(0.3)
    








