.timeline-wrap
    .timeline-row .content 
        background-color: shadow-mask(0.7)
        .timeline-article-title
            color: $-link-word-color
        h1[itemprop="name"]:hover .timeline-article-title
                color: $-main-word-light-color
        .article-meta a
            @extends .article-header .article-meta a
    