// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #565a5f
color-grey = #999
color-border = #eceff2
color-link = #38b7ea
color-background = #f5f8f9
color-sidebar-text = #777
color-sidebar-text-dark = #333
color-widget-background = #ddd
color-widget-border = #ccc

// Fonts
font-sans = "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", "Microsoft Yahei", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 15px
line-height = 1.6em
line-height-title = 1.3em

// Header
header-height = 64px
header-sub-height = 48px
logo-url = hexo-config("customize.logo.url")
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Sidebar
sidebar = hexo-config("customize.sidebar")
thumbnail-default-small = 'images/thumb-default-small.png'

// Profile bar
profile = hexo-config("customize.profile.enabled")
profile-avatar-size = 128px

// Layout
block-margin = 40px
article-padding = 20px
mobile-nav-width = 280px
columns = 10
main-column = 7
sidebar-column = 2.6
profile-column = 2.6

// Grids
column-width = 80px
gutter-width = 0
if (not sidebar) and (not profile)
    main-column = 10
    

// Media queries
mq-mobile = "screen and (max-width: 799px)"
mq-normal = "screen and (min-width: 1200px)"

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow"

// Miscellaneous
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39
