@import "nib"
shadow-mask(alpha = 0.4)
    rgba(0, 0, 0, alpha)

light-mask(alpha = 0.4)
    rgba(255, 255, 255, alpha)

$-main-word-light-gray-color = #ddd
$-main-word-color = #efefef
$-main-word-light-color = #fff
$-link-word-color = #38b7ea
$-link-word-bule-light-color = #66E3FF
$-link-word-cyan-color = #97f9f9

transform()
    -webkit-transform: arguments
    -moz-transform: arguments
    -ms-transform: arguments
    -o-transform: arguments
    transform: arguments

transition()
    -webkit-transition: arguments
    -moz-transition: arguments
    -ms-transition: arguments
    -o-transition: arguments
    transition: arguments

border-radius()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments

link-blue-trans()
    transition(0.2s ease)
    color: $-link-word-color


@import "_opacity/body"
@import "_opacity/header"
@import "_opacity/profile"
@import "_opacity/article"
@import "_opacity/sidebar"
@import "_opacity/timeline"
@import "_opacity/archive"
@import "_opacity/insight"
@import "_opacity/comments"

