body{
    zoom: 1;
    background-size: cover;
    background-attachment: fixed;
}
body::after{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}
#header, #profile .inner {
    background: none;
    box-shadow: none;
}
#profile .inner .base-info #avatar {
    box-shadow: 0 0 0 8px rgba(255,255,255,0.4);
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
#profile .inner .base-info #avatar:hover {
    box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
    transition: box-shadow linear 0.2s;
}
.timeline-row .content {background-color: rgba(0,0,0,0.5);}
#profile.card {
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 0 8px rgba(255,255,255,0.4);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    color: #EFEFEF;
}
.header-inner #logo .site-title, a.article-title:visited, .article-footer a, .article-meta a, .widget ul li a, .widget ol li a, .widget ul .category-list-child a, .widget ol .category-list-child a, #recent-post li .item-inner .item-title a, #header a, #header a:visited, .search-form-submit, .fa, .layout-wrap-inner.list-categories ul li a, .layout-wrap-inner.list-categories ul .category-list-child a, .archive-article-header a, .archive-article-header a:visited, .layout-wrap-inner.tag-cloud a, .layout-wrap-inner.tag-cloud a:visited, .article-header .article-title, #ds-thread #ds-reset .ds-comment-body p, #recent-post li .item-inner .item-date, .category-list-count, .tag-list-count, .archive-list-count, #profile .inner .base-info #location, #search-form-wrap .search-form .search-form-submit:focus, #page-nav a {
    color: #EFEFEF;
}
#page-nav .current {color: #FFFFFF;}
.article-entry .caption {
    color: #DDD;
}
/* Article content style*/
.article-inner, #comments, .archive-article {
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 0 8px rgba(255,255,255,0.4);
    color: #FAFAFA;
}
.article-inner, #comments {
    background: rgba(0,0,0,0.3);
}
.article-entry blockquote {
    background: rgba(255,255,255,0.15);
}
p, .article-entry ul ul, .widget ul ul, .article-entry ol ul, .widget ol ul, .article-entry ul ol, .widget ul ol, .article-entry ol ol, .widget ol ol, .article-entry ul, .widget ul, .article-entry ul, .widget ul, .article-entry ol, .widget ol, .article-entry dl, .widget dl {
    line-height: 30px;
    letter-spacing: 0.7px;
    text-shadow: 0px 1px 5px #000;
}
.article-nav-caption, .article-nav-title, .article-entry h1, .article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6,
.layout-wrap-inner.tag-cloud a,
.layout-wrap-inner.tag-cloud a:visited,
.layout-wrap-inner.list-categories ul li a, .layout-wrap-inner.list-categories ul .category-list-child a {
    text-shadow: 0px 1px 3px #000;
}
.article-entry a {
    text-shadow: 0px 1px 2px #000;
}
.article-entry h1, .article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6 {
    letter-spacing: 0.7px;
}

/* chrome diff 360se start */
.archive-article-header a,
.archive-article-header a:visited,
.search-form-input,
.search-form-input.ins-search-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input,
#profile .inner .social-links > table td a:hover,
.layout-wrap-inner.list-categories li a:before:hover {
    color: #38b7ea;
}
.article-footer a:hover {
    color: #38b7ea;
}
.article-share-input,
.article-nav-caption, .article-nav-title, .article-nav-link-wrap:hover,
.archive-year-wrap .archive-year,
.archive-category-wrap .archive-year,
.archive-tag-wrap .archive-year,
.layout-title .archive-year,
.timeline-row .content h1 a, .timeline-row .content h1 a:visited,
.layout-wrap-inner.list-categories ul .category-list-child a:hover { 
    color: #38b7ea;
}
.timeline-row .content h1 a:hover, .timeline-row .content h1 a:visited:hover { 
    color: #EFEFEF;
}
/* chrome diff 360se code end */

.article-share-twitter:before, .article-share-facebook:before, .article-share-pinterest:before, .article-share-google:before {
    color: #444;
}
.article-entry img {
    cursor: pointer;
    border: 5px solid rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 5px rgba(0, 115, 102, 0.95);
    border-radius: 0;
}
/* Article links style */
#header a:hover, #recent-post li .item-inner .item-title a:hover, .widget ul .category-list-child a:hover {
    white-space: nowrap;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #38b7ea;
}
#recent-post li .item-inner .item-category a:hover {
    white-space: nowrap;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #EFEFEF;
}
.widget ul:not(#recent-post) li a:hover:before, .widget ol:not(#recent-post) li a:hover:before, .widget a:hover, a.article-title:hover {
    color: #38b7ea;
}

/* Search input box style */
.ins-section .ins-search-item .ins-search-preview, .article-more-link a {
    height: auto;
    color: #777;
    line-height: auto;
    letter-spacing: 0;
    text-shadow: none;
}
.ins-section .ins-search-item header, .fa-times-circle:before {
    color: #444;
    text-shadow: 0px 1px 1px #777;
}
#search-form-wrap .search-form .search-form-input::-webkit-input-placeholder {color: #EFEFEF} 
#search-form-wrap .search-form .search-form-input::-moz-placeholder {color: #EFEFEF} 
#search-form-wrap .search-form .search-form-input::-moz-placeholder {color: #EFEFEF} 
#search-form-wrap .search-form .search-form-input::-ms-input-placeholder {color: #EFEFEF} 

/* This is duoshuo css, need setting in duoshuo background manager. */
#ds-reset .ds-avatar {background:none !important; box-shadow:none !important;}
#ds-reset .ds-avatar img {box-shadow: none;-webkit-border-radius: 500px;-moz-border-radius: 500px;border-radius: 500px;}
#ds-reset .ds-avatar img , #ds-thread #ds-reset ul.ds-children .ds-avatar img{width:50px !important;height: 50px !important;-webkit-transition: .8s;-moz-transition: .8s;-o-transition: .8s;-ms-transition: .8s;padding:3px;border: 1px solid #ddd;background: none;}
.ds-post:hover .ds-avatar img{transform:rotate(720deg);-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-o-transform:rotate(720deg);-ms-transform:rotate(720deg);border-radius:30px !important;}
#ds-reset .ds-avatar img:hover{transform:rotate(720deg);-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-o-transform:rotate(720deg);-ms-transform:rotate(720deg);border-radius:30px !important;}
#ds-thread #ds-reset .ds-comment-body, #ds-thread #ds-reset ul.ds-children .ds-comment-body{padding-left:70px !important;}
#ds-thread #ds-reset .ds-comment-body, #ds-thread #ds-reset ul.ds-children .ds-comment-body{padding-left:70px !important;}
#ds-thread #ds-reset ul.ds-children .ds-avatar{width:50px !important;}
#ds-thread #ds-reset .ds-replybox{padding: 0 0 0 80px !important;}
#ds-thread #ds-reset #ds-bubble {background-color: rgba(0, 0, 0, 0.7)}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-body{margin-left: 68px !important;}
#ds-recent-comments li.ds-comment:nth-of-type(1){border:none !important;}
#ds-thread #ds-reset .ds-time, #ds-thread #ds-reset .ds-comment-actions a {color: #DDD;}
#ds-thread #ds-reset li.ds-tab a.ds-current, #ds-reset .ds-highlight, #ds-thread #ds-reset li.ds-post-placeholder, #ds-thread #ds-reset .ds-textarea-wrapper textarea:focus, #ds-thread #ds-reset a, #ds-thread #ds-reset .ds-account-control span, #ds-thread #ds-reset .ds-sort a, #ds-thread #ds-reset .ds-sort a, #ds-thread #ds-reset .ds-comment-body p {
    color: #EFEFEF !important;
    text-shadow: none !important;
}
#ds-thread #ds-reset .ds-account-control ul li a {
    color: #777 !important;
}
#ds-thread #ds-reset .ds-sort a:hover {
    white-space: nowrap;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #38b7ea;
}

